body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-color: #f4f4f4;
    padding: 2em 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}


.portfolio {
    padding: 2em 0;
}

.project {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.project img {
    max-width: 300px;
    margin-right: 20px;
}

.project-details {
    flex-grow: 1;
}

.project h3 {
    color: #333;
}

.project p {
    color: #555;
    line-height: 1.6;
}

.project code {
    display: block;
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 10px;
}

.project a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* ... Add more styles as needed ... */
